-i https://pypi.org/simple/
click==7.1.2
flask-sqlalchemy==2.4.4
flask==1.1.2
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
pymysql==0.10.1
python-dotenv==0.14.0
sqlalchemy==1.3.20
werkzeug==1.0.1
