{% extends "layout.jinja2" %}

{% block content %}
  <div class="container">
    <h1>Flask-SQLAlchemy Tutorial</h1>
    {% for user in users %}
      <ul id="user.username">
        <li>
          <span class="field-name">User:</span>
          <span class="field-value">{{ user.username }}</span>
        </li>
        <li>
          <span class="field-name">Email:</span>
          <span class="field-value">{{ user.email }}</span>
        </li>
        <li>
          <span class="field-name">Created:</span>
          <span class="field-value">{{ user.created }}</span>
        </li>
        <li>
          <span class="field-name">Bio:</span>
          <span class="field-value">{{ user.bio }}</span>
        </li>
        <li>
          <span class="field-name">Admin:</span>
          <span class="field-value">{{ user.admin }}</span>
        </li>
      </ul>
    {% endfor %}
  </div>
{% endblock %}
